# Server
PORT=3000
NODE_ENV=production

# CORS
# أثناء التطوير المحلي:
# ALLOWED_ORIGINS=http://localhost:3000
#
# عند نشر الموقع على GitHub Pages:
# ALLOWED_ORIGINS=https://naoufal-chakkour.github.io
ALLOWED_ORIGINS=http://localhost:3000

# Jamendo
# ضع Client ID الحقيقي هنا
JAMENDO_CLIENT_ID=

# Free Music Archive
# اختياري
FMA_API_KEY=

# SoundCloud
# اختياري
SOUNDCLOUD_CLIENT_ID=